// Contextual backgrounds
@mixin bg-variant($parent, $color) {
    $myColor:#dccaff;
    #{$parent} {
        background-color: $myColor !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover-focus {
            background-color: darken($color, 10%) !important;
        }
    }
}

@mixin bg-gradient-variant($parent, $color) {
    $myColor:#8800aa;
    
    #{$parent} {
        //background: linear-gradient(87deg, $myColor 0, adjust-hue($myColor, 25%) 100%) !important;
        background: linear-gradient(87deg, $myColor 0, $myColor 100%) !important;
    }
}

@mixin bg-translucent-variant($parent, $color) {
    $myColor:#dccaff;
    #{$parent} {
        background-color: darken(rgba($myColor, $translucent-color-opacity), 7%) !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover-focus {
            background-color: darken(rgba($myColor, $translucent-color-opacity), 12%) !important;
        }
    }
}
